
<style>
  h1 {
    color: blue;
  }

</style>
<header>
  <h1>Message Board</h1>
  <nav>
    <ul>
      <li><a href="main_board.html">Main Board</a></li>
      <li><a href="other_board.html">Other Board</a></li>
    </ul>
  </nav>
</header>
<section>
  <p><%= link_to "Create a new post", createmessage_path %></p>
</section>
<section>
</section>


